[defaults]
remote_user = devops
host_key_checking = false
ask_pass = false
inventory = ./inventory
roles_path = ./roles:/usr/share/ansible/roles
collections_path = ./mycollections:/usr/share/ansible/collections
private_key_file = $HOME/.ssh/new-controller
vault_password_file = ./secret.txt

[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = false
